gunicorn==20.0.4       # 必ず必要なので記載する
flask==3.0.0
flask-login==0.6.3
flask-sqlalchemy==3.1.1
werkzeug==3.0.1
pytz==2023.3.post1
google-cloud-vision==3.4.5
google-auth-oauthlib==0.4.4
google-api-core==2.12.0
google-auth==2.22.0
Flask-Migrate==4.0.5
Flask-Cors==4.0.0
regex==2023.10.3