  body {
    display: flex;
    min-height: 100vh;
    /* background-image: url("../image/背景画像1.jpg"); */
    background-color:  #87CEFA;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .center_content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

label{
  color: rgb(13, 5, 5);
}
  
.flashes {
  color: white;
}

/* 新しいクラスを追加してアニメーションを設定 */
.animated-text {
  font-size: 60px;
  color: rgb(9, 1, 1);
  font-weight: bold; /* 太字 */
  font-style: italic; /* 斜体 */
  white-space: nowrap;
  overflow: hidden;
  display: inline-block; /* インラインブロックに変更 */
}

.letter {
  display: inline-block;
  opacity: 0;
  transform: translateY(1em);
  animation: appear 1s forwards;
}

@keyframes appear {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
