<!-- edit.html -->
{% extends "layout.html" %}
{% block content %}
    <body>
        <br>
        <br>
        <form method="POST">
            <label for="cash" style="color: white;">金額:</label>
            <input type="text" id="cash" name="cash" value="{{ save.cash }}">
            <br>
            <label for="baught_at" style="color: white;">購入日時:</label>
            <input type="baught_at" id="cash" name="baught_at" value="{{ save.baught_at }}">
            <br>
            <label for="saved_at" style="color: white;">登録日時:</label>
            <input type="text" id="saved_at" name="saved_at" value="{{ save.saved_at }}">
            <br>
            <!-- 詳細情報を編集するための部分 -->
            <label for="detail" style="color: white;">詳細情報:</label>
            <textarea id="detail" name="detail">{{ save.detail }}</textarea>
            <br>
            <input type="submit" value="更新">
        </form>
        <br>
        <br>
    </body>
{% endblock %}