<!-- edit.html -->
{% extends "layout.html" %}
{% block content %}
    <body>
        <br>
        <br>
        <form method="POST">
            <label for="cash">金額:</label>
            <input type="text" id="cash" name="cash" value="{{ save.cash }}">
            <br>
            <label for="baught_at">購入日時:</label>
            <input type="baught_at" id="cash" name="baught_at" value="{{ save.baught_at }}">
            <br>
            <label for="saved_at">登録日時:</label>
            <input type="text" id="saved_at" name="saved_at" value="{{ save.saved_at }}">
            <input type="submit" value="更新">
        </form>
        <br>
        <br>
    </body>
{% endblock %}