<!-- login.html -->
{% extends "layout_login.html" %} 
{% block content %} 
<!-- pタグに新しいクラスを追加 -->
<p class="animated-text" id="animatedText"></p>
<h1>
    <a href="/login" style="color: aliceblue;">ログイン</a>
    <br>
    <br>
    <a href="/signup" style="color: aliceblue;">新規登録</a>
</h1>

<script>
    const textContainer = document.getElementById('animatedText');
    const text = 'スキャン簿';

    text.split('').forEach((char, index) => {
        const charElement = document.createElement('span');
        charElement.textContent = char;
        charElement.className = 'letter';
        charElement.style.animationDelay = `${index * 0.1}s`;
        textContainer.appendChild(charElement);
    });
</script>
{% endblock %}