<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="static\css\style_login.css">
        <title>家計簿アプリ</title>
    </head>
    
    <body>
        <div class="side-block"></div>
        <div class="center_content"> 
            {% block content %}{% endblock %}
        </div>
        <div class="side-block"></div>
    </body>
           
        <!-- ここからは修正前 -->
        <!-- 
        <div ></div>
        <div> 
            ここにblock---
        </div>
         -->
</html> 