<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="static\css\style.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <title>家計簿アプリ</title>
    </head>
    <body>
        <header class="header-nav-container">
            <nav><a href="/change_password">パスワードを変更する</a></nav>
            <nav><a href="/scan2">スキャン</a></nav>
            <nav><a href="/logout">ログアウト</a></nav>
            <nav><a href="/save">データを見る</a></nav>
            <nav><a href="/calender_data">記録Calender</a></nav>
        </header>

        {% block content %}{% endblock %}
        <footer>
            <small>© 2023 片岡慎三</small>
        </footer>

    </body>
</html>
