<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="static\css\style_calender.css">
        <title>スキャン簿</title>
    </head>
    <body>
        <header class="header-nav-container">
            <nav><a class="aaa" href="/scan2">スキャン</a></nav>
            <nav><a a class="aaa" href="/logout">ログアウト</a></nav>
            <nav><a a class="aaa" href="/save">データを見る</a></nav>
            <nav><a a class="aaa" href="/index">ファイルでアップロード</a></nav>
        </header>

        {% block content %}{% endblock %}
        <footer>
            <small>© 2023 片岡慎三</small>
        </footer>

    </body>
</html>
