{% extends "layout_login.html" %}
{% block content %}

<h1>ログイン画面</h1>
<form  action = "/login", method = "POST">
  <div> 
    <label for="username">ユーザー名</label>
    <input type = "text" name = "username">
    <br>
    <br>
    <label for="password">パスワード</label>
    <input type="password" name="password">
    
    <input type="submit" name="password">
    <h1><a href="/signup">新規登録</a></h1>


    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class="flashes">
      {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
  </div>
</form>

{% endblock %}