{% extends "layout.html" %} 
{% block content %} 

<body>
    <table border="1" class="table center_content">
        <tr>
            <!-- <th>id</th> -->
            <th scope="col">金額</th>
            <th scope="col">登録日時</th>
            <th scope="col">操作</th>
        </tr>
        {% for save in saves %}
            <tr class="table-primary">
                <!-- <td>{{save.id}}</td> -->
                <td>{{save.cash}}円</td>
                <!-- <td>{{save.saved_at}}</td> -->
                <td>{{ save.saved_at.strftime('%Y年%m月%d日 %H:%M') }}</td>
                td>
                    <a href="{{ url_for('edit', save_id=save.id) }}">編集</a>
                    <form method="POST" action="{{ url_for('delete', save_id=save.id) }}" onsubmit="return confirm('削除してもよろしいですか?');">
                        <button type="submit">削除</button>
                    </form>
                </td>
                <!-- <td> 
                    <form method="POST" action="{{ url_for('delete', save_id=save.id) }}" onsubmit="return confirm('削除してもよろしいですか?');">
                        <button type="submit">削除</button>
                    </form>
                </td>-->
            </tr>
        {% endfor %}
    </table>

</body>

{% endblock %}

