{% extends "layout.html" %} 
{% block content %} 

    <body>
        <div style="display: flex; justify-content: space-between;">
            <video id="video" width="400" height="720" autoplay></video>
            <button id="snap" style="width: 200px; height: 72px; background-color: #b2d8d8; border-radius: 15px; border: none; color: white; font-size: 20px; box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); margin-top: 300px;"><i class="gg-photoscan"></i>スキャンはここをクリック</button>
            <canvas id="canvas" width="400" height="720"></canvas>
        </div>

    </body>
    <script>
    // カメラの設定
    var constraints = { video: { width: 400, height: 720 } }; 
    
    // video要素の取得
    var video = document.querySelector('#video');
    
    // ユーザーのデバイスによるメディアストリームの取得
    navigator.mediaDevices.getUserMedia(constraints)
    .then(function(mediaStream) {
      video.srcObject = mediaStream;
      video.onloadedmetadata = function(e) {
        video.play();
      };
    })
    .catch(function(err) { console.log(err.name + ": " + err.message); });

    // canvas要素の取得
    var canvas = document.querySelector('#canvas');
    var context = canvas.getContext('2d');
    var snap = document.querySelector("#snap");

    // ...

    snap.addEventListener("click", function() {
    context.drawImage(video, 0, 0, 400, 720);
    canvas.toBlob(function(blob) {
        var formData = new FormData();
        formData.append('upload_file', blob, 'レシート.png');

        fetch('/upload2', {
            method: 'POST',
            body: formData,
            credentials: 'include', // 認証情報を含む
        })
        .then(response => response.text())
        .then(data => {
            console.log(data);

            // アップロード結果を反映させるために一定時間待つ (例: 2秒)
            setTimeout(function () {
                // ログイン認証が終わった後にページを推移
                window.location.href = '/save'; // 推移先のURLに変更
            }, 2000); // 2000ミリ秒 = 2秒
        })
        .catch(error => {
            console.error('エラーが発生しました: ' + error);
        });
    }, 'image/png');
    });

    </script>

{% endblock %}
