{% extends "layout.html" %} 
{% block content %} 

    <body>
    <video id="video" width="300" height="720" autoplay></video>
    <button id="snap">Snap Photo</button>
    <canvas id="canvas" width="300" height="720"></canvas>

    </body>
    <script>
    // カメラの設定
    var constraints = { video: { width: 300, height: 720 } }; 
    
    // video要素の取得
    var video = document.querySelector('#video');
    
    // ユーザーのデバイスによるメディアストリームの取得
    navigator.mediaDevices.getUserMedia(constraints)
    .then(function(mediaStream) {
      video.srcObject = mediaStream;
      video.onloadedmetadata = function(e) {
        video.play();
      };
    })
    .catch(function(err) { console.log(err.name + ": " + err.message); });

    // canvas要素の取得
    var canvas = document.querySelector('#canvas');
    var context = canvas.getContext('2d');
    var snap = document.querySelector("#snap");
    var scan = document.querySelector("#scan");

    // ...

    snap.addEventListener("click", function() {
    context.drawImage(video, 0, 0, 300, 720);
    canvas.toBlob(function(blob) {
        var formData = new FormData();
        formData.append('upload_file', blob, 'レシート.png');

        fetch('/upload2', {
            method: 'POST',
            body: formData,
            credentials: 'include', // 認証情報を含む
        })
        .then(response => response.text())
        .then(data => {
            console.log(data);

            // アップロード結果を反映させるために一定時間待つ (例: 2秒)
            setTimeout(function () {
                // ログイン認証が終わった後にページを推移
                window.location.href = '/save'; // 推移先のURLに変更
            }, 2000); // 2000ミリ秒 = 2秒
        })
        .catch(error => {
            console.error('エラーが発生しました: ' + error);
        });
    }, 'image/png');
    });




    </script>

{% endblock %}

