{% extends "layout_login.html" %} 
{% block content %} 

<p class="animated-text" id="animatedText"></p>
<form  action = "/signup", method = "POST">
  <div> 
    <label for="username">ユーザー名</label>

    <input type = "text" name = "username">
    <br>
    <br>    
    <label for="password">パスワード</label>
    <input type="password" name="password">
    <br>
    <br>
    <div class="input">
      <h3>
        <input type="submit" value="登録">
      </h3>
      <h3><a href="/login" id="signupButton">ログイン画面</a></h3>
      
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class="flashes">
      {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <script>
      const textContainer = document.getElementById('animatedText');
      const text = '新規登録';
  
      text.split('').forEach((char, index) => {
        const charElement = document.createElement('span');
        charElement.textContent = char;
        charElement.className = 'letter';
        charElement.style.animationDelay = `${index * 0.1}s`;
        textContainer.appendChild(charElement);
      });
    </script>
</div>
</form>

{% endblock %}
